{% extends 'base.html' %}

{% block content %}
    <h1>Welcome, Director!</h1>
    <div>
        <a href="{% url 'drtAddPredecessor' %}">add predecessor</a>
        <p></p>
        <a href="{% url 'drtAddMovie' %}">add movie</a>
        <p></p>
        <a href="{% url 'drtAddTheatre' %}">add theatre</a>
        <p></p>
        <a href="{% url 'drtAddSession' %}">add session</a>
        <p></p>
        <a href="{% url 'drtUpdateMovieName' %}">update movie name</a>
        <p></p>
        {% for operation, displayName in listingOperations %}
            <a href="{% url 'drtList' operation %}">{{ displayName }}</a><br>
        {% endfor %}
    </div>
{% endblock %}
