{% extends 'base.html' %}
{% block content %}
    <h1>{{ formHeader }}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {% if includePreviewButton %}
        <input type="submit" name="preview" value="Preview">
        {% endif %}
        <input type="submit" name="submit" value="Submit">
    </form>

    {%if headers %}
    <h1>ticket info</h1>
    <table>
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% for item in row %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <p><a href="{% url 'audHome' %}">Back to Home</a></p>
{% endblock %}
